aiohttp
certifi
cryptography
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
gspread
requests
rich
schedule
urllib3
flask
flask-cors
plotly
pandas
sqlalchemy
secure-smtplib
